
<div class="container card mt-4 p-3" style="width: 600px;">
  <h3 class="text-center">You said</h3>
  <p class="text-center mt-2"><%= @question %></p>
  <h3 class="text-center mt-2">He answered</h3>
  <p class="text-center mt-2"><%= @answer %></p>
</div>
