
<div class="container card mt-4">
  <h1 class="text-center mt-4">What do you want to ask to your Boss?</h1>
  <form action="/answer" class="text-center m-4">
    <input type="text" name="question" placeholder="Enter your question">
    <input type="submit" value="Ask!">
  </form>
</div>
